/*Andrea Eibergen
March 8, 2017*/

.container{
	background-color: gray;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background-color: #cecece;
}

.states {
    stroke: #cecece;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: "Lora", serif;
    font-size: 1em;
    color: #15243d;
    font-weight: bold;
}

.chartBackground {
    fill: #cecece;
}

.chartFrame {
    border: medium solid #999;
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Lora", serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 130px;
    left: 35px;
    z-index: 10;
    font-family: "Lora", serif;
    font-size: 1em;
    font-weight: bold;
    color: #15243d;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 50px;
    color: #fff;
    background-color: #5f6060;
    border: solid thin #a4a5a5;
    padding: 5px 10px;
    top: -75px;
    font-size: 14px;
    font-family: "Lora", serif;
    box-shadow: 1px 1px 2px #999;
}

.infolabel h2 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: 24px;
}

h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin: 10px 0 5px 0;
    color: #15243d;
}

p {
    font-family: "Lora", serif;
    margin: 0 20px 15px 20px;
    text-indent: 40px;
    color: #555555;
    line-height: 1.5;
}

h3 {
    margin: 20px 20px 20px 20px;

}

blockquote {
    font-family: "Lora", serif;
    color: #555555;
    line-height: 1.5;
}

body {
    background: url(/img/satinweave.png) repeat 0 0;
    height: 1200px;
}